/*
 created by Abdykadyr uulu Zhoodar
 for site welcomeosh.kg
 Copyright 2015-2016 
 */
 
.fon
{
    background-color: #eaedf0;
}
		/* основная зона сайта*/
.MainFrame 
{ 
	position: relative;
	min-height: 500px;;
	margin:-10px; 
}

.innerArea{
	margin: 0px;
}

        /* Голова сайта*/
.header                                                           
{
	margin: 0;
	height: 170px;
	background: url(../img/header_Big.png);
	 
}
.pois
{
	 background:url(../img/head.png);
	 width: 1060px;
	 height: 40px;
	 margin: 0px  150px 10px;
	 position: static;
}
  		/* Блок меню*/
.Menu                                                  
{
 /*border: 2px dotted black;*/
	 background: #fff;
	 float: left;  
	 width: 220px;    
	 margin: 0px 10px 20px 150px;
	 position: relative;

}
		/* рабочая зона*/

#workArea                                                
{
	 border: 10px solid #fff;
	 border-radius: 1px;
	 background: #fff;   
	 width: 810px;
	 /*box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.5);*/
	 margin: 10px  380px 10px;
	 float: inherit;
 
} 

#workArea a:link{
	text-decoration: none;
	color: #0c3d78;	
}
#workArea a:active{
	text-decoration: none;	
}
#workArea a:visited{
	text-decoration: none;
	color:#0c3d78;	
}
#workArea a:hover{
	text-decoration: underline;
	color: #4284f2;	
}


#kino table {
	width: 97%;
	border:1px solid #4284f2;
	border-radius: 3px;
	background:#4284f2; 	

}
#kino td{
	background:#4284f2; 	
}

.rightDiv
{
	float: right;
	width:390px;	
}
.leftDiv
{
	float: inherit;
	width:390px;	
}
.leftDiv_block
{
	border-bottom: dotted 1px #2d79d7;
	padding: 11px 0 11px 0;
}
.exclusive
{
	float: inherit;
}
         /*Slider*/
.slider
{
	 position: static;
	 box-shadow:  5px 5px 10px rgba(0, 0, 0.5, 0);
	 z-index: 2;
	 width: 390px;
	 height: 200px;
	 overflow: hidden;
	 margin: 0px;
}
  .slider ul,
 .slider li {
	 padding: 0;
	 margin: 0;
	 list-style-type: none;
 }
 .slider ul {
	 width: 5760px; 
 }
 .slider ul li {
	 list-style-type: none;
	 float: left;
	 width: 960px;
	 height: 495px;
 }
 .slider .nav {	
	 left: 940px;
	 bottom:270px;
	 position: none; 
 }
 .slider .nav span {
	 opacity: 0.9;
	 background: #000;
	 margin: 0 8px 0 0;
	 width: 16px;
	 height: 16px;
	 border-radius: 8px;
	 cursor: pointer;
	 overflow: hidden;
	 display: block;
	 float: left;
	 box-shadow: 0 1px 2px #000;
 }
 
 .slider .nav span.on {
 	background: #1a56c8;
 }
		   /* подвал меню*/
.Footer                                            
{
	background: #3a3e43;
	height: 100px;  
	width: 1060px;
	bottom: -150px;
	position: absolute;
	left: 150px;

}
.Footer a{
	color: #b0b6c4;
	text-decoration: none;
}
.Footer a:hover{
	color: #ffffff;
	text-decoration: underline;
}

			/* подвал сайта*/
.Footer_bottom                                               
{
	background: #272A2E;;
	height: 40px;  
	width: 1060px;
	bottom: -190px;
	position: absolute;
	left: 150px;
}
.footer
{
	 background:url(../img/head.png);
	 width: 1060px ;
	 height: 40px;
	 left: 150px;
	 position: absolute;
	 bottom: -50px;
}

		 /*Стайл меню*/									
ul#navmenu-v,                                     
ul#navmenu-v li,
ul#navmenu-v ul {
	margin: 0;
	border: 0 none;
	padding: 0;
	width: 220px; 
	list-style: none;
}

ul#navmenu-v:after {
	clear: both;
	display: block;
	font: 1px/0px serif;
	content: ".";
	height: 0;
	visibility: hidden;
}

ul#navmenu-v li {
	float: left; 
	display: block !important; 
	display: inline; 
	position: relative;
}


ul#navmenu-v a {
	border: 1px solid #83b0f5;
	border-right-color: #0f61e8;
	border-bottom-color: #0f61e8;
	padding: 10px 6px 6px 20px;
	display: block;
	background: #1a6af0;
	color: #FFF;
	font: 14px  sans-serif;
	text-decoration: none;
	height: 20px; 
}


ul#navmenu-v a:hover,
ul#navmenu-v li:hover a,
ul#navmenu-v li.iehover a {
	background: #3d88ed;
	color: #FFF;
}


ul#navmenu-v li:hover li a,
ul#navmenu-v li.iehover li a {
	background: #1a6af0;
	color: #FFF;
}


ul#navmenu-v li:hover li a:hover,
ul#navmenu-v li:hover li:hover a,
ul#navmenu-v li.iehover li a:hover,
ul#navmenu-v li.iehover li.iehover a {
	background: #3d88ed;
	color: #FFF;
}


ul#navmenu-v li:hover li:hover li a,
ul#navmenu-v li.iehover li.iehover li a {
	background: #3d88ed;
	color: #112157;
}


ul#navmenu-v li:hover li:hover li a:hover,
ul#navmenu-v li:hover li:hover li:hover a,
ul#navmenu-v li.iehover li.iehover li a:hover,
ul#navmenu-v li.iehover li.iehover li.iehover a {
	background: #648B43;
	color: #FFF;
}


ul#navmenu-v li:hover li:hover li:hover li a,
ul#navmenu-v li.iehover li.iehover li.iehover li a {
	background: #648B43;
	color: #112157;
}


ul#navmenu-v li:hover li:hover li:hover li a:hover,
ul#navmenu-v li.iehover li.iehover li.iehover li a:hover {
	background: #648B43;
	color: #FFF;
}

ul#navmenu-v ul,
ul#navmenu-v ul ul,
ul#navmenu-v ul ul ul {
	display: none;
	position: absolute;
	top: 0;
	left: 220px;
}


ul#navmenu-v li:hover ul ul,
ul#navmenu-v li:hover ul ul ul,
ul#navmenu-v li.iehover ul ul,
ul#navmenu-v li.iehover ul ul ul {
display: none;
}

ul#navmenu-v li:hover ul,
ul#navmenu-v ul li:hover ul,
ul#navmenu-v ul ul li:hover ul,
ul#navmenu-v li.iehover ul,
ul#navmenu-v ul li.iehover ul,
ul#navmenu-v ul ul li.iehover ul {
	display: block;
}                                                    

	/* Основной блок Карусeл  */													

#carousel1 {
    width:796px; 
    height:450px; 
    background:#fff url('..,,,/img/carousel/bg.jpg'); 
    background-repeat: no-repeat; 
    overflow:scroll;
    position: static;
   
}




/* Внутренний блок Карусeл  */

#innerCarousel {
    position: static;
    width: 100%; 
    height: 100%; 
   
}

#galerea1{
    position: static;
	width: 100%; 
    height: 100%;  
    margin: 25px;
}	
#galerea{
    position: static;
    float: left;
    border: 3px #FFFFFF solid;
    box-shadow: 0 3px 6px rgba(0,0,0,0.9);
}
#galerea:hover{
	position: static;
    float: left;
    border: 3px #2b2b2b solid;
    box-shadow: 0 3px 6px rgba(0,0,0,0.9);
   
}
		/*кнопка поиск*/							
.find{
	height: 25px;
	padding: 0 15px;
	border: 1px solid #85bee9;
	border-radius: 1px;
	box-shadow: inset 0px 0px 1px white, 0px 1px 2px #0c558a;
	background: #85bee9; /* Old browsers */
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	cursor: pointer;
}
.find:hover{
	background: #c6e3f7; /* Old browsers */
}
.find_text
{
	height: 20px;
	border: 1px solid #85bee9;
	border-radius: 2px;
	box-shadow: inset 0px 0px 1px white, 0px 1px 2px #0c558a;
	
}

		/* Блоки коменттарий*/

.comment {
	width:600px;
	padding:30px;
	margin-left:60px; 
	border:2px solid #cde7f8;
	overflow: hidden;
	 background-color: #e9f2f3;
	 -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	font-size:14px;
	position:relative;
	z-index:50;
}

.pole {
	border:1px solid #397ee6;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	background-color:#f5faf8;
	padding:2px 10px 2px 10px;
	margin-bottom:5px;
}
	/*	Форма добавления организации */
.decorated-form{
	padding: 5px 10px 10px 10px;
}
.decorated-form fieldset{
	border: none;
	margin: 0;
	padding: 0;
}
.decorated-form label{
	display: block;
	margin-bottom: 7px;
}


.decorated-form label.field2 input, .decorated-form label.field2 textarea, .decorated-form label.field2 select{
	display: block;
	width: 90px;
	height: 30px;
	padding: 1px 7px 1px 7px;
	border: none;
	
	background: #FFFFFF;
	box-shadow: inset 0 1px 3px #a1a9b0, 0 1px 0 #FFFFFF;
	border-radius: 3px;
	font-size: 16px;
	color: #2a2f35;
}

.decorated-form label.field input, .decorated-form label.field textarea, .decorated-form label.field select{
	display: block;
	width: 97%;
	height: 30px;
	padding: 1px 7px 1px 7px;
	border: none;
	
	background: #FFFFFF;
	box-shadow: inset 0 1px 3px #a1a9b0, 0 1px 0 #FFFFFF;
	border-radius: 3px;
	font-size: 16px;
	color: #2a2f35;
}
.decorated-form label.field input:focus, .decorated-form label.field textarea:focus, .decorated-form label.field select:focus{
	box-shadow: inset 0 1px 3px #a1a9b0, 0 0 3px #2b2b2b;
}
.decorated-form label.field textarea{
	height: 100px;
}
.decorated-form label.field select{
	width: 686px;
	padding-top: 4px;
	height: 32px;
}
.decorated-form label.field span{
	display: block;
	font-size: 16px;
	font-weight: bold;
	color: #293036;
	margin-bottom: 2px;
}
.decorated-form label.field span em{
	color: #ff6000;
}
.decorated-form label.field span.hint{
	display: block;
	font-size: 12px;
	font-weight: normal;
	line-height: 12px;
	margin: 2px 0 0 0;
	color: #9099a4;
}
.decorated-form label.field.error span.hint{
	color: #f33434;
}
.decorated-form label ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.decorated-form label ul li{
	font-size: 12px;
	line-height: 12px;
	color: #f33434;
	font-weight: normal;
	margin: 2px 0 0 0;
}
.decorated-form label.field.error input, .decorated-form label.field.error textarea, .decorated-form label.field.error select{
	box-shadow: inset 0 1px 3px #a1a9b0, 0 0 3px #ff0000;
	border: 1px solid #ff0000;
}
.decorated-form .gray-button, .decorated-form .orange-button{
	width: 333px;
	float: left;
}
.decorated-form .orange-button{
	margin-left: 21px;
}

		/* 	Стили кнопок */

.orange-button{
	display: block;
	height: 34px;
	padding: 0 15px;
	
	border: 1px solid #0c558a;
	border-radius: 3px;
	box-shadow: inset 0px 0px 1px white, 0px 1px 2px #0c558a;
	background: #1678b2; /* Old browsers */
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: -1px -1px 0px #953600;
	cursor: pointer;
}
.orange-button:hover{
	background: #0c558a; /* Old browsers */
}
.orange-button:active{
	border: 1px solid #527397;
	text-shadow: -1px -1px 0 #953600;
	background: #527397; /* Old browsers */


}

.gray-button{
	display: block;
	height: 34px;
	padding: 0 15px;
	border: 1px solid #cfd4d8;
	border-radius: 3px;
	box-shadow: inset 0px 0px 1px white, 0px 1px 2px #a6afb3;
	background: rgb(250,250,250); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(250,250,250,1) 0%, rgba(239,241,242,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,1)), color-stop(100%,rgba(239,241,242,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(239,241,242,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(239,241,242,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(239,241,242,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(250,250,250,1) 0%,rgba(239,241,242,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eff1f2',GradientType=0 ); /* IE6-9 */

	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #c1c6ca;
	text-shadow: -1px -1px 0px #999c9f;
	
	cursor: pointer;
}
.gray-button:hover{
	background: rgb(242,242,242); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(246,246,246,1) 24%, rgba(234,237,239,1) 59%, rgba(240,243,245,1) 90%, rgba(205,212,217,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(24%,rgba(246,246,246,1)), color-stop(59%,rgba(234,237,239,1)), color-stop(90%,rgba(240,243,245,1)), color-stop(100%,rgba(205,212,217,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(246,246,246,1) 24%,rgba(234,237,239,1) 59%,rgba(240,243,245,1) 90%,rgba(205,212,217,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(246,246,246,1) 24%,rgba(234,237,239,1) 59%,rgba(240,243,245,1) 90%,rgba(205,212,217,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(246,246,246,1) 24%,rgba(234,237,239,1) 59%,rgba(240,243,245,1) 90%,rgba(205,212,217,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgba(246,246,246,1) 24%,rgba(234,237,239,1) 59%,rgba(240,243,245,1) 90%,rgba(205,212,217,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#cdd4d9',GradientType=0 ); /* IE6-9 */
}
.gray-button:active{
	border: 1px solid #e9eff3;
	box-shadow: inset 0 4px 4px #969da1;
	background: #eaedef;
}

		/* болок карта*/
#map-shadow, .map-shadow{
	background: url('img/map-shadow.png') bottom center no-repeat;
	padding: 20px 0 20px 0;
}
#map-container, .map-container{
	border-radius: 3px;
	border: 1px solid #cdd2d5;
	box-shadow: inset 0 1px 1px #FFFFFF;
	padding: 9px;
	
	background: #d6e9e9;
}
#map{
	border: 1px solid #cdd2d5;
	box-shadow: inset 0 1px 1px #CCCCCC;
	height: 480px;
}
.blue-block{
	display: block;
	height: 25px;
	padding: 0 15px;
	
	border: 1px solid #6297d7;
	border-radius: 2px;
	box-shadow: inset 0px 0px 1px white, 0px 1px 2px #6297d7;
	background: #528cd3; /* Old browsers */
}
