/*
 created by Abdykadyr uulu Zhoodar
 for site welcomeosh.kg
 Copyright 2015

 */
.fon
{
    background-color: #c9cbd8;
}
.MainFrame /* основной зона сайта*/
{

margin: 0px auto 0px;
    

}
.header                                                            /* Голова сайта*/
{
background: url(../img/holder.png);
height: 152px;  
overflow: hidden;
width: 200px;
margin: 0px 10px;
 
}


.Menu                                                    /* меню*/
{
 /*border: 2px dotted black;*/
 background: #fff;
 float: left;   
 width: 220px;
 height: 663px;      
 margin: -20px 10px 0px 160px;
 position: absolute; 
}

.slider
{
 position: none;
 box-shadow:  5px 5px 10px rgba(0, 0, 0.5, 0);
 z-index: 2;
 width: 800px;
 height: 300px;
 overflow: hidden;
 margin: 0px;
}
  .slider ul,
 .slider li {
 padding: 0;
 margin: 0;
 list-style-type: none;
 }
 .slider ul {
 width: 5760px; 
 }
 .slider ul li {
 list-style-type: none;
 float: left;
 width: 960px;
 height: 495px;
 }
 .slider .nav {
 position: absolute ;
 left: 420px;
 top: 80px; 
 }
 .slider .nav span {
 opacity: 0.9;
 background: #000;
 margin: 0 8px 0 0;
 width: 16px;
 height: 16px;
 border-radius: 8px;
 cursor: pointer;
 overflow: hidden;
 display: block;
 float: left;
 box-shadow: 0 1px 2px #000;
 }
 
 .slider .nav span.on {
 background: #ffd016;
 }

.pois
{
 background:url(../img/header.png);
 width: 830px;
 height: 45px;
 margin: 10px  390px 10px;
 position: static;
}


#workArea                                                /* рабочая зона*/
{
 border: 10px solid #fff;
 border-radius: 3px;
 background: #fff;   
 
 width: 800px;
 box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.5);
 margin: 10px  390px 10px;
} 
#workArea a{
	color: #1675e9;
}


#news {
background-color: #ced7dd; 
}


#news a{
color: #f20000;
}

#kino table {
width: 90%;
border:1px solid #ced7dd;
border-radius:5px ;	

}
#kino a{
color:#0341fa;
	
}

.Footer                                               /* подвал сайта*/
{
background: url(../img/holder2.png);
/*border:1px solid aqua;*/  
height: 144px;  
overflow: hidden;
width: 200px;
margin: 10px;
}


#nav,#nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav {
    background-color: #537FD3;
    border-radius: 0px ;
   /* box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);*/
    display: table;
	padding-bottom: 10px;
	padding-top: 10px;
    
}
#nav ul {
    background-color: #e6eff4;
    border:1px solid #e6eff4;
    border-radius: 0px;
    border-width: 0 1px 1px;
    box-shadow: 0 15px 5px rgba(0, 0, 0, 0.5);
    left: -9999px;
    overflow: hidden;
    padding: 1px 0 1px;
    position: absolute;
    top: -9999px;

    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);

    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;

    -moz-transition: -moz-transform 0.1s linear;
    -ms-transition: -ms-transform 0.1s linear;
    -o-transition: -o-transform 0.1s linear;
    -webkit-transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
}
#nav li {
    float: left;
    position: relative;
}
#nav li a {
    color: #0123ab;
    display: block;
    font-size: 16px;
    padding-left: 40px;
	padding-right:60px;
	padding-top: 5px;
	padding-bottom: 5px;
    
    text-decoration: none;
}
#nav li:hover > a {
    background-color:#bccfef;
    border-radius: 0px;
    color: #176cd5;
}
#nav li:hover > a.hsubs {
    border-radius: 0px;
}
#nav li:hover ul.subs {
    left: 160px;
    top: 0px;
    width: 200px;

    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform: scaleY(1);
}
#nav ul li {
    width: 100%;
}
#nav ul li:hover > a {
    background-color: #c6dbe6 !important;
    border-radius: 0px;
}

/* Основной блок Карусeл */

#carousel1 {
    width:796px; 
    height:450px; 
    background:#fff url('..,,,/img/carousel/bg.jpg'); 
    background-repeat: no-repeat; 
    overflow:scroll;
    position: static;
   
}




/* Внутренний блок */

#innerCarousel {
    position: static;
    width: 100%; 
    height: 100%; 
   
}

#galerea1{
   position: static;
	width: 100%; 
    height: 100%; 
    
    margin: 25px;
}	
#galerea{
    position: static;
    float: left;
    border: 3px #FFFFFF solid;
    box-shadow: 0 3px 6px rgba(0,0,0,0.9);
}
#galerea:hover{
	position: static;
    float: left;
    border: 3px #2b2b2b solid;
    box-shadow: 0 3px 6px rgba(0,0,0,0.9);
   
}


.comment {
	width:600px;
	padding:30px;
	margin-left:60px; 
	border:2px solid #cde7f8;
	overflow: hidden;
	 background-color: #e9f2f3;
	 -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	font-size:14px;
	position:relative;
	z-index:50;
}

.pole {
	border:1px solid #397ee6;
	border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
background-color:#f5faf8;
padding:2px 10px 2px 10px;
margin-bottom:5px;
}
/**
 * 	Форма добавления организации
 */
.decorated-form{
	padding: 5px 10px 10px 10px;
}
.decorated-form fieldset{
	border: none;
	margin: 0;
	padding: 0;
}
.decorated-form label{
	display: block;
	margin-bottom: 7px;
}


.decorated-form label.field2 input, .decorated-form label.field2 textarea, .decorated-form label.field2 select{
	display: block;
	width: 90px;
	height: 30px;
	padding: 1px 7px 1px 7px;
	border: none;
	
	background: #FFFFFF;
	box-shadow: inset 0 1px 3px #a1a9b0, 0 1px 0 #FFFFFF;
	border-radius: 3px;
	font-size: 16px;
	color: #2a2f35;
}




.decorated-form label.field input, .decorated-form label.field textarea, .decorated-form label.field select{
	display: block;
	width: 97%;
	height: 30px;
	padding: 1px 7px 1px 7px;
	border: none;
	
	background: #FFFFFF;
	box-shadow: inset 0 1px 3px #a1a9b0, 0 1px 0 #FFFFFF;
	border-radius: 3px;
	font-size: 16px;
	color: #2a2f35;
}
.decorated-form label.field input:focus, .decorated-form label.field textarea:focus, .decorated-form label.field select:focus{
	box-shadow: inset 0 1px 3px #a1a9b0, 0 0 3px #2b2b2b;
}
.decorated-form label.field textarea{
	height: 100px;
}
.decorated-form label.field select{
	width: 686px;
	padding-top: 4px;
	height: 32px;
}
.decorated-form label.field span{
	display: block;
	font-size: 16px;
	font-weight: bold;
	color: #293036;
	margin-bottom: 2px;
}
.decorated-form label.field span em{
	color: #ff6000;
}
.decorated-form label.field span.hint{
	display: block;
	font-size: 12px;
	font-weight: normal;
	line-height: 12px;
	margin: 2px 0 0 0;
	color: #9099a4;
}
.decorated-form label.field.error span.hint{
	color: #f33434;
}
.decorated-form label ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.decorated-form label ul li{
	font-size: 12px;
	line-height: 12px;
	color: #f33434;
	font-weight: normal;
	margin: 2px 0 0 0;
}
.decorated-form label.field.error input, .decorated-form label.field.error textarea, .decorated-form label.field.error select{
	box-shadow: inset 0 1px 3px #a1a9b0, 0 0 3px #ff0000;
	border: 1px solid #ff0000;
}
.decorated-form .gray-button, .decorated-form .orange-button{
	width: 333px;
	float: left;
}
.decorated-form .orange-button{
	margin-left: 21px;
}

/**
 * 	Стили кнопок
 */

.orange-button{
	display: block;
	height: 34px;
	padding: 0 15px;
	
	border: 1px solid #0c558a;
	border-radius: 3px;
	box-shadow: inset 0px 0px 1px white, 0px 1px 2px #0c558a;
	background: #1678b2; /* Old browsers */
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: -1px -1px 0px #953600;
	
	cursor: pointer;
}
.orange-button:hover{
	background: #0c558a; /* Old browsers */
}
.orange-button:active{
	border: 1px solid #527397;
	text-shadow: -1px -1px 0 #953600;
	background: #527397; /* Old browsers */


}

.gray-button{
	display: block;
	height: 34px;
	padding: 0 15px;
	
	border: 1px solid #cfd4d8;
	border-radius: 3px;
	box-shadow: inset 0px 0px 1px white, 0px 1px 2px #a6afb3;
	
	background: rgb(250,250,250); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(250,250,250,1) 0%, rgba(239,241,242,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,1)), color-stop(100%,rgba(239,241,242,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(239,241,242,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(239,241,242,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(239,241,242,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(250,250,250,1) 0%,rgba(239,241,242,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eff1f2',GradientType=0 ); /* IE6-9 */

	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #c1c6ca;
	text-shadow: -1px -1px 0px #999c9f;
	
	cursor: pointer;
}
.gray-button:hover{
	background: rgb(242,242,242); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(246,246,246,1) 24%, rgba(234,237,239,1) 59%, rgba(240,243,245,1) 90%, rgba(205,212,217,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(24%,rgba(246,246,246,1)), color-stop(59%,rgba(234,237,239,1)), color-stop(90%,rgba(240,243,245,1)), color-stop(100%,rgba(205,212,217,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(246,246,246,1) 24%,rgba(234,237,239,1) 59%,rgba(240,243,245,1) 90%,rgba(205,212,217,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(246,246,246,1) 24%,rgba(234,237,239,1) 59%,rgba(240,243,245,1) 90%,rgba(205,212,217,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(246,246,246,1) 24%,rgba(234,237,239,1) 59%,rgba(240,243,245,1) 90%,rgba(205,212,217,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgba(246,246,246,1) 24%,rgba(234,237,239,1) 59%,rgba(240,243,245,1) 90%,rgba(205,212,217,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#cdd4d9',GradientType=0 ); /* IE6-9 */
}
.gray-button:active{
	border: 1px solid #e9eff3;
	box-shadow: inset 0 4px 4px #969da1;
	background: #eaedef;
}

/**
 * 	Яндекс-карта
 */
#map-shadow, .map-shadow{
	background: url('img/map-shadow.png') bottom center no-repeat;
	padding: 20px 0 20px 0;
}
#map-container, .map-container{
	border-radius: 9px;
	border: 1px solid #cdd2d5;
	box-shadow: inset 0 1px 1px #FFFFFF;
	padding: 9px;
	
	background: #d6e9e9;
}
#map{
	border: 1px solid #cdd2d5;
	box-shadow: inset 0 1px 1px #CCCCCC;
	height: 480px;
}
